<html>

<head>
  <%- include('header/head') %>
</head>

<body>

  <script>
    let userData = {};
    try {
      userData = { key: sessionStorage.getItem('account') };
    } catch (e) {
      location.href = "/";
    }
  </script>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">이더 과외매칭</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="user/MyPage">마이페이지</a>
          </li>

          <li class="nav-item" id="regStudent">
            <script>
              const regStudent = document.getElementById("regStudent");
              if(userData.key!=null){
                regStudent.innerHTML = "<a class=nav-link href='/user/registerStudent'>학생등록</a>";
              }
              
            </script>
          </li>

          <li class="nav-item" id="regTutor">
            <script>
              const regTutor = document.getElementById("regTutor");
              if(userData.key!=null){
                regTutor.innerHTML = "<a class=nav-link href='/user/registerTutor'>선생님등록</a>";
              }
              
            </script>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/Chatting">채팅상담</a>
          </li>

          <li class="nav-item" style="color:white;" id="login_li">
            <script>
              const login_li = document.getElementById("login_li");
              login_li.innerHTML = "<a class=nav-link><strong>" + userData.key + "</strong> 님 안녕하세요!</a>";
            </script>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/login/LogOut">로그아웃</a>
          </li>

      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">


    <div class="login-section">
      <div class="header">
        <h1>선생님 찾기</h1>
        <h2>원하는 선생님을 찾아보아요</h2>
        <hr>
      </div>

      <form class="login-form" action="/user/ShowTutor" method="POST">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="subject">
          <option value="">과목선택</option>
          <option value="korean">언어</option>
          <option value="math">수리</option>
          <option value="english">외국어</option>
        </select>
        <br>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="gender">
          <option value="">선생님 성별</option>
          <option value="male">남</option>
          <option value="female">여</option>
        </select>
        <br><br>

        <input class="btn btn-primary newitem-btn" type="submit" value="검색">
      </form>

    </div>


  </div>
  <!-- /.row -->

</body>
</html>